html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
    padding: 0;

}

body, .root, .container {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;
}

header h1 {
    width: 20%;
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #444444;
    background: #FFFFFF;
}

header h1::first-letter {
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #c6ae31;
    background: #FFFFFF;
}

.nav {
    width: 60%;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.nav a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #444444;
}

.nav a:hover {
    text-decoration: underline;
    text-decoration-color: #c6ae31;
    text-decoration-thickness: 3px;
}

.nav .selected {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}

.user-status {
    width: 20%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.user-status a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    text-align: right;
}

.user-status a:hover {
    text-decoration: underline;
    text-decoration-color: #c6ae31;
}

.content {
    margin: 0 auto;
    width: 40%;
}

.content h1 {
    text-align: center;
}

.login-form, .register-form {
    width: 32rem;
    margin: 0 auto;
}

.register-form input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    width: 32rem;
    margin-bottom: 1.4rem;
}

.register-form .button {
    background-color: #ccc;
    background-image: none;
    font-size: 1em;
    font-weight: 600;
}

.register-form .button:hover {
    background-color: #ddd;
    background-image: none;
}

.register-form .button:active {
    background-color: #dcdcdc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}
