html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
    padding: 0;

}

.error {
    color: red;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1 1 auto;
    padding: 0 10px;
}

.content h1 {
    text-transform: capitalize;
}

body, .root, .container {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;
    border-bottom: #e6e6e6 1px solid;
}

header h1 {
    width: 20%;
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #444444;
    background: #FFFFFF;
}

header h1::first-letter {
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #c6ae31;
    background: #FFFFFF;
}

.nav {
    width: 60%;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.nav a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #444444;
}

.nav a:hover {
    text-decoration: underline;
    text-decoration-color: #c6ae31;
    text-decoration-thickness: 3px;
}

.nav .selected {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}

.user-status {
    width: 20%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.user-status a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    text-align: right;
}

.user-status a:hover {
    text-decoration: underline;
    text-decoration-color: #c6ae31;
}

.content {
    margin: 0 auto;
    width: 40%;
}

.content h1 {
    text-align: center;
}

.login-form, .register-form {
    width: 32rem;
    margin: 0 auto;
}

.form , .user-balance-form form {
    width: 60%;
    margin: 0 auto;
}

.form input, .register-form input, .user-balance-form input{
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    width: 32rem;
    margin-bottom: 1.4rem;
}

.form input, .user-balance-form input, .user-balance-form label {
    width: 100%;
}

.register-form .button, .button {
    background-color: #ccc;
    background-image: none;
    font-size: 1em;
    font-weight: 600;
}

.register-form .button:hover, .button:hover {
    background-color: #ddd;
    background-image: none;
}

.register-form .button:active, .button:active{
    background-color: #dcdcdc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

.user-info table {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 24px;
    border-collapse: collapse;
}

.user-info td {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;

    padding: 10px 0;
}

.user-info .name {
    width: 50%;
    font-weight: bold;
}

.user-info .value {
    text-align: right;
}

form input.half-button {
    width: 50%;
}

form input.buy-button {
    float: right;
    background-color: #73e673;
}

form input.sell-button {
    float: left;
    background-color: #fd7878;

}

form input.buy-button:hover {
    background-color: #35ff35;
}

form input.sell-button:hover {
    background-color: #ff3e3e;
}

form input.buy-button:active {
    background-color: #278e27;
}

form input.sell-button:active {
    background-color: #9b1e1e;
}


.recharts-responsive-container {
    clear: both;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    margin-bottom: 24px;
    border-collapse: collapse;
}

td {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;

    padding: 10px;
}

.increase {
    color: green;
}

.decrease {
    color: red;
}

img {
    width: 100%;
    height: 400px;
}

@media (max-width: 1300px) {
    .content {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .content {
        width: 90%;
        box-shadow: none;
    }
}


@media (max-width: 550px) {
    .content {
        width: 90%;
        box-shadow: none;
    }
    header h1 {
        display: none;
    }

    .login-form, .register-form, .user-balance-form form, .user-info table{
        width: 90%;
    }

    .form input, .register-form input, .user-balance-form input {
        width: 100%;
    }
}
